<section id="hero">
  <h1>Eduardo Carrasco Jr.</h1>
  <p>
    Machine Learning Engineer and Data Scientist. 
    Welcome to my digital terminal. Here you will find my research papers covering AI, 
    mathematical philosophy, and deep learning, alongside my personal blog and coding projects.
  </p>
</section>